<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Rental4You</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Rental4You.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.css">
    @*<link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4/css/metro-all.min.css">*@
</head>
<body class="d-flex h-100 text-center bg-white p-0 m-0">
    <div class="cover-container d-flex w-100 h-100 p-0 mx-auto flex-column">
        <header class="p-7 text-white">
            <div class="container">
                <nav class="navbar bg-primary navbar-expand-sm navbar-toggleable-sm navbar-dark mb-3 fixed-top" @*style="background: rgba(72, 122, 220, .7);"*@>
                    <div class="container">
                        <a class="navbar-brand text-white fw-bold" asp-area="" asp-controller="Home" asp-action="Index">Rental4You</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                @if (User.IsInRole("Client"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Reservations" asp-action="Index">My Reservations</a>
                                    </li>
                                }
                                @if (User.IsInRole("Employee") || User.IsInRole("Manager"))
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Employee Area
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item" asp-controller="Vehicles" asp-action="Index">Manage Vehicles</a></li>
                                            <li><a class="dropdown-item" asp-controller="Reservations" asp-action="Index">Manage Reservations</a></li>
                                            @if (User.IsInRole("Manager"))
                                            {
                                                <li><hr class="dropdown-divider" /></li>
                                                <li><a class="dropdown-item" asp-controller="UserManager" asp-action="Index">Manage Employees</a></li>
                                            }
                                        </ul>
                                    </li>
                                }
                                @if (User.IsInRole("Admin"))
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Admin Area
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item" asp-controller="Companies" asp-action="Index">Manage Companies</a></li>
                                            <li><a class="dropdown-item" asp-controller="VehicleCategories" asp-action="Index">Manage Vehicle Categories</a></li>
                                        </ul>
                                    </li>
                                }
                            </ul>
                            <partial name="_LoginPartial" />
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        <main role="main" class="container mt-5 pt-5 text-start">

            <div class="container-fluid">
                @if (@TempData["Error"] != null)
                {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <p>
                            <strong>@TempData["Error"]</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </p>
                    </div>
                }
                @if (@TempData["Info"] != null)
                {
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <p>
                            <strong>@TempData["Info"]</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </p>
                    </div>
                }
            </div>

            @RenderBody()
        </main>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2022 - Rental4You - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.js"></script>
    @*<script src="https://cdn.korzh.com/metroui/v4/js/metro.min.js"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
