@model Rental4You.ViewModels.ReservationVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @if (!User.IsInRole("Client")){
            @if(Model.Status == ReservationStatus.open)
            {
                <a asp-action="Confirm" type="button" class="btn btn-outline-success" asp-route-id="@Model.ReservationId" asp-route-confirm="true">Confirm</a>
                <a asp-action="Confirm" type="button" class="btn btn-outline-danger" asp-route-id="@Model.ReservationId" asp-route-confirm="false">Reject</a>
            }
            else if (Model.Status == ReservationStatus.confirmed)
            {
                <a asp-controller="Pickups" asp-action="Edit" type="button" class="btn btn-outline-primary" asp-route-id="@Model.PickupId">Pickup by Customer</a>
            }
            else if (Model.Status == ReservationStatus.pickedUp)
            {
                <a asp-controller="Deliveries" asp-action="Edit" type="button" class="btn btn-outline-primary" asp-route-id="@Model.DeliveryId">Delivery by Customer</a>
            }
        }
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReservationId" />
            <input type="hidden" asp-for="CreatedAt" />
            <input type="hidden" asp-for="PickupId" />
            <input type="hidden" asp-for="DeliveryId" />
            <input type="hidden" asp-for="VehicleId" />
            <div class="form-group">
                <label asp-for="Vehicle.Company" class="control-label"></label>
                <input type="text" asp-for="Vehicle.Company.Name" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Vehicle.Model" class="control-label"></label>
                <input type="text" asp-for="Vehicle.Model" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input type="text" asp-for="Status" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="PickupDate" class="control-label small"></label>
                <input type="date" asp-for="PickupDate" class="form-control" />
                <span asp-validation-for="PickupDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryDate" class="control-label small"></label>
                <input type ="date" asp-for="DeliveryDate" class="form-control" />
                <span asp-validation-for="DeliveryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
            @*<div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="ViewBag.Status"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleId" class="control-label"></label>
                <select asp-for="VehicleId" class="form-control" asp-items="ViewBag.VehicleId"></select>
                <span asp-validation-for="VehicleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PickupId" class="control-label"></label>
                <select asp-for="PickupId" class="form-control" asp-items="ViewBag.PickupId"></select>
                <span asp-validation-for="PickupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryId" class="control-label"></label>
                <select asp-for="DeliveryId" class="form-control" asp-items="ViewBag.DeliveryId"></select>
                <span asp-validation-for="DeliveryId" class="text-danger"></span>
            </div>*@
@*       TODO: Change to TempData (will be rendered in _Layout.cshtml)
  @if (ViewData.ContainsKey("ErrorMessage") && !string.IsNullOrEmpty(ViewData["ErrorMessage"].ToString()))
        {
            <div class="alert alert-danger">@ViewData["ErrorMessage"]</div>
        } *@
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
