@model IEnumerable<Rental4You.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Reservations</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pickup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Delivery)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.Model)
            </td>
            <td>
                @if ((User.IsInRole("Employee") || User.IsInRole("Manager") && item.Pickup == null))
                {
                    <a asp-controller="Pickups" asp-action="Create" class="btn btn-warning">Create Pickup</a>
                }
                else if (item.Pickup == null)
                {
                    @Html.Raw("-")
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Pickup.PickupDate)
                }
            </td>
            <td>
                @if ((User.IsInRole("Employee") || User.IsInRole("Manager") && item.Delivery == null))
                {
                    <a asp-controller="Deliveries" asp-action="Create" class="btn btn-warning">Create Delivery</a>
                }
                else if (item.Delivery == null)
                {
                    @Html.Raw("-")
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Delivery.DeliveryDate)
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
