@model Rental4You.ViewModels.ReservationsSearch

@{
    ViewData["Title"] = "Index";
}

<h1>Reservations</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
@if (User.IsInRole("Employee") || User.IsInRole("Manager"))
{
    <form class="searchbar" asp-action="Search">
        <div class="form-group">
            <small class="form-text">Pickup Date</small>
            <input type="date" asp-for="PickupDate" class="form-control" />
            <span asp-validation-for="PickupDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <small class="form-text">Delivery Date</small>
            <input type="date" asp-for="DeliveryDate" class="form-control" />
            <span asp-validation-for="DeliveryDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <small class="form-text">Vehicle Type</small>
            <select size="1" class="form-control" asp-for="CategoryId" asp-items="ViewBag.VehicleCategoryId">
                <option value="">-</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <small class="form-text">Vehicle</small>
            <select size="1" class="form-control" asp-for="VehicleId" asp-items="ViewBag.VehicleId">
                <option value="">-</option>
            </select>
            <span asp-validation-for="VehicleId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <small class="form-text">Customer</small>
            <select class="form-control" asp-for="ClientId" asp-items="ViewBag.CustomerId">
                <option value="">-</option>
            </select>
            <span asp-validation-for="ClientId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" style="position: absolute; bottom: 0;">Search</button>
        </div>
    </form>
}


@if (Model.SearchResults.Count <= 0)
{
    <div class="alert alert-info">There are no reservations.</div>
} else {
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SearchResults.First().CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SearchResults.First().Vehicle.Model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SearchResults.First().Client.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SearchResults.First().Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SearchResults.First().Pickup.PickupDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SearchResults.First().Delivery.DeliveryDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SearchResults)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vehicle.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Client.UserName)
                    </td>
                    <td>
                        @if (item.Status == ReservationStatus.open)
                        {
                            <span class="badge bg-secondary">OPEN</span>
                        }
                        else if (item.Status == ReservationStatus.confirmed)
                        {
                            <span class="badge bg-primary">CONFIRMED</span>
                        }
                        else if (item.Status == ReservationStatus.rejected)
                        {
                            <span class="badge bg-danger">REJECTED</span>
                        }
                        else if (item.Status == ReservationStatus.pickedUp)
                        {
                            <span class="badge bg-warning">PICKED UP</span>
                        }
                        else if (item.Status == ReservationStatus.delivered)
                        {
                            <span class="badge bg-success">DELIVERED</span>
                        }
                    </td>
                    <td>
                        @if (item.Pickup == null)
                        {
                            @Html.Raw("-")
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Pickup.PickupDate)
                        }
                    </td>
                    <td>
                        @if (item.Delivery == null)
                        {
                            @Html.Raw("-")
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Delivery.DeliveryDate)
                        }
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        @if (item.Status == ReservationStatus.open || 
                                item.Status == ReservationStatus.confirmed || 
                                item.Status == ReservationStatus.pickedUp)
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <span>|</span>
                        }
                        @if (item.Status == ReservationStatus.open)
                        {
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
                </td>
                </tr>
            }
        </tbody>
    </table>
}
