@model Rental4You.ViewModels.VehiclesSearch

@{
    ViewData["Title"] = "Vehicles";
}

<h1>Vehicles</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    <div class="col">
        @using (Html.BeginForm("Search", "Vehicles", FormMethod.Get))
        {
            <div class="form-inline d-flex">
                <div class="row">
                    <div class="form-group">
                        <label asp-for="LocationToSearch" class="control-label"></label>
                        <input asp-for="LocationToSearch" type="text" placeholder="Search for Vehicles" class="form-control form-control-sm" />
                        <span asp-validation-for="LocationToSearch" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="SelectedCategories"></label>
                        <select class="form-select" asp-for="SelectedCategories" asp-items="Model.CategoriesToSearch" multiple></select>
                        <span asp-validation-for="SelectedCategories" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="PickupDateToSearch" class="control-label"></label>
                        <input asp-for="PickupDateToSearch" class="form-control" />
                        <span asp-validation-for="PickupDateToSearch" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="DeliveryDateToSearch" class="control-label"></label>
                        <input asp-for="DeliveryDateToSearch" class="form-control" />
                        <span asp-validation-for="DeliveryDateToSearch" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-default ms-2 me-2">
                        <svg bootstrap-icon="Search" class="text-warning" width="24" height="24" aria-label="Search"></svg>
                    </button>
                </div>
            </div>
        }
    </div>
</div>

@if(Model.VehiclesList.Count > 0)
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VehiclesList.First().Kms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehiclesList.First().IsAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehiclesList.First().Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehiclesList.First().Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehiclesList.First().VehicleCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehiclesList.First().Company)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.VehiclesList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Kms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleCategory.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
}
else{
    <div> No vehicles to display. </div>
}
