@model IEnumerable<Rental4You.Models.Company>

@{
    ViewData["Title"] = "Companies";
}

<h1>All Companies</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    <div class="col">
        <a asp-action="Index">All companies</a>
        <a asp-action="Index" asp-route-active="true">Active</a>
        <a asp-action="Index" asp-route-active="false">Inactive</a>
    </div>
    <div class="col">
        @using (Html.BeginForm("Search", "Companies", FormMethod.Get))
        {
            <div class="form-inline d-flex">
                <input type="text" name="searchText" id="searchText" placeholder="Search for company name..." class="form-control form-control-sm" />
                <button type="submit" class="btn btn-default ms-2 me-2">
                    <svg bootstrap-icon="Search" class="text-warning" width="24" height="24" aria-label="Search"></svg>
                </button>
            </div>
        }
    </div>
</div>

<table id="companiesTable" class="mt-4" data-toggle="table" @*data-search="true"*@>
    <thead>
        <tr>
            <th data-sortable="true" data-searchable="true">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th data-searchable="false">
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th data-sortable="true" data-searchable="false">
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
