@using Microsoft.AspNetCore.Mvc.Rendering
@model Rental4You.ViewModels.VehiclesSearch
@{
    ViewData["Title"] = "Home";
}

@*To render stars used to display companies' ratings*@
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
</head>

<h4>Search for your favorite vehicle</h4>

<form class="searchbar" asp-action="Search">
    <div class="form-group">
        <label asp-for="LocationToSearch" class="form-text small"></label>
        <input asp-for="LocationToSearch" type="text" placeholder="e.g.: Coimbra" class="form-control form-control-sm" />
        <span asp-validation-for="LocationToSearch" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PickupDateToSearch" class="form-text small"></label>
        <input type="date" asp-for="PickupDateToSearch" class="form-control" />
        <span asp-validation-for="PickupDateToSearch" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DeliveryDateToSearch" class="form-text small"></label>
        <input type="date" asp-for="DeliveryDateToSearch" class="form-control" />
        <span asp-validation-for="DeliveryDateToSearch" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SelectedCategories" class="form-text small"></label>
        <select size="1" class="form-control" asp-for="SelectedCategories" asp-items="Model.CategoriesToSearch" multiple></select>
        <span asp-validation-for="SelectedCategories" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" style="position: absolute; bottom: 0;">Search</button>
    </div>
</form>

@if (Model.VehiclesList.Count > 0)
{
    <div class="container bg-white">
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h4 class="display-5 fw-normal">Available vehicles</h4>
            <p class="fs-6 text-muted">
                Here are the available vehicles for your search...
            </p>

            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle sort-button" data-bs-toggle="dropdown" aria-expanded="false">
                    Order by price
                </button>
                <ul class="dropdown-menu">
                    <li><a asp-action="Index" asp-route-sortCost="asc" class="dropdown-item">Ascending</a></li>
                    <li><a asp-action="Index" asp-route-sortCost="desc" class="dropdown-item">Descending</a></li>
                </ul>
                <button type="button" class="btn btn-primary dropdown-toggle sort-button" data-bs-toggle="dropdown" aria-expanded="false">
                    Order by company's rating
                </button>
                <ul class="dropdown-menu">
                    <li><a asp-action="Index" asp-route-sortCompanyRating="asc" class="dropdown-item">Ascending</a></li>
                    <li><a asp-action="Index" asp-route-sortCompanyRating="desc" class="dropdown-item">Descending</a></li>
                </ul>
            </div>

        </div>

        <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 mb-3">
            @foreach (var vehicle in Model.VehiclesList)
            {
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3 text-center bg-primary text-white">
                            <h4 class="my-0 fw-bold">@vehicle.Model</h4>
                        </div>
                        <div class="card-body">
                            <div class="text-center">
                                @vehicle.Company.Name | @for (int i = 0; i < vehicle.Company.Rating; i++)
                                {
                                    <span class="fa fa-star"></span>
                                }
                                @for (int i = 0; i < 5 - vehicle.Company.Rating; i++)
                                {
                                    <span class="fa fa-star-o"></span>
                                }
                            </div>
                            <div class="row">
                                <div class="col-8 d-flex align-items-center">
                                    <ul class="list-unstyled mt-3 mb-4 w-100">
                                        <li><i class="bi bi-info text-muted"></i> @vehicle.Description</li>
                                        <li><i class="bi bi-person text-muted"></i> @vehicle.Seats seats</li>
                                        <li><i class="bi bi-car-front text-muted"></i> @vehicle.Kms km</li>
                                        <li><i class="bi bi-geo-alt text-muted"></i> Location: @vehicle.Location</li>
                                    </ul>
                                </div>
                                <div class="col d-flex align-items-center">
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li class="mb-2"><span class="text-muted">Price: </span>@vehicle.Cost € / hour</li>
                                        <li>
                                            <button type="button" class="w-100 btn btn-lg btn-outline-primary">
                                                <a asp-controller="Reservations" asp-action="Create" asp-route-id="@vehicle.Id">Book</a>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <div class="alert alert-info">No vehicles to display.</div>
}
